<!doctype html>
<html>
  <head>
    <title>MeetGreet</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px;width: 1550px;position: fixed;bottom: 0; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      #messages { margin-bottom: 40px }
    </style>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- Then include bootstrap js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <style>
      body{
        height: 100vh;
        overflow: hidden;
      }
      body > div{
        height: 100%;
        display: flex;
      }
      .block1{
        width: 400px;
        border : 2px solid;
        overflow: scroll;
      }
      .block2{
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        border : 2px solid;
      }
      #block2{
        overflow: scroll;
      }
      .topBar{
        background-color: #eee
      }
      li {
    list-style-type: none;
      }
      span{
        margin-bottom: 5px;
        
      }
      
    </style>
  </head>
  <body>
    <div>
    <div class="block1">
    <div style="margin-bottom : 25px;">
      <h1>Friends</h1>
     <a href="/addfriend"> <button class="btn btn-success" >ADD Friend</button> </a>
     <a href="/addGroup"> <button class="btn btn-danger" >Create Group</button> </a>
    </div>  

    <ul id="friendlist" class="list-group"></ul>
    </div>
    <div class="block2" >
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark topBar" id="topBar" style="visibility: hidden;">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <h4 id="headName"></h4>
                </li>
               
              </ul>
          </nav>
          <div id="block2" style="flex: 1">
    <ul id="messages"></ul>
    <form action="" style="visibility: hidden;" id="myForm">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </div>
    </div>
   </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>

      $('#m').focus(function(){
        socket.emit('typing',{'user' : user,'currentChat' : currentChat});
      });


      $('#m').blur(function(){
        socket.emit('stopTyping',{'user' : user,'currentChat' : currentChat});
      });



      var block2=document.getElementById('block2');
      var data;
      var user;
      var currentChat="";
      var currentChatBox="";
      var group=false;
      var online="🟢";
      var chat="💬";
      var pInfo;

      function getUser()
      {
        var request = new XMLHttpRequest();
    request.addEventListener('load', function()
    {
       data=JSON.parse(request.responseText);
       console.log(data);
       user=data;
       socket.emit('initialize',data);
    });
    request.open('POST', '/chat/getUser');
    request.setRequestHeader("Content-Type", "application/json");
    request.send();

      }
    function startChat(event){
      event.target.innerHTML="💬";
      document.getElementById('headName').innerHTML=event.target.parentNode.textContent+"";
      group=false;
      document.getElementById('myForm').setAttribute('style','visibility : visible');
      document.getElementById('topBar').setAttribute('style','visibility : visible')
          console.log(event.target.id);
          currentChat=event.target.id;
          document.getElementById("messages").innerHTML="";


          var request = new XMLHttpRequest();
          request.addEventListener('load', function()
          {
           let chat=JSON.parse(request.responseText);
            console.log(chat);
            currentChatBox=chat._id;
            for(let i=0;i<chat.message.length;i++)
            {
              var node = document.createElement("li");
          node.setAttribute('class','list-group-item')
          node.innerHTML =chat.message[i].senderName+" : "+ chat.message[i].msg ;
            document.getElementById("messages").appendChild(node)
            }
            block2.scrollTo(0, block2.scrollHeight);
          });
          request.open('POST', '/chat/getMessages');
    request.setRequestHeader("Content-Type", "application/json");
    request.send(JSON.stringify({'friendId' : currentChat}));
        }



      function getFriends()
      {
        var request = new XMLHttpRequest();
    request.addEventListener('load', function()
    {
       data=JSON.parse(request.responseText);
       pInfo=data;
       console.log(data.friends);
       var ul=document.getElementById('friendlist');

       for(let i=0;i<data.friends.length;i++)
       {
        var li=document.createElement('li');
        li.setAttribute('class','list-group-item');
        li.setAttribute('style','font-size : large;height:61px');
        var button=document.createElement('button');
        
        button.innerHTML="💬";
        button.setAttribute('id',data.friends[i]._id);
        button.setAttribute('onclick','startChat(event)');
        button.setAttribute('style','margin-left : 20px;position:absolute;left:30rem;');
        button.setAttribute('class','btn btn-primary btn-s');
         
       
        
        li.innerHTML=data.friends[i].firstName;
        li.appendChild(button);
        
        if(data.friends[i].online==true)
        {
        let div=document.createElement('div');
        div.innerHTML="<span class=\"badge badge-pill badge-success\">online<span>";
         li.appendChild(div);
         }
         else{

        let div=document.createElement('div');
        let date=new Date(data.friends[i].lastSeen||Date.now());
        let pDate=new Date(Date.now());
        if(date.getDate()!=pDate.getDate())
        div.innerHTML="<span class=\"badge badge-pill badge-success\">lastseen <span>"+date.getDate()+"/"+date.getMonth()+"/"+date.getFullYear()+"  "+date.getHours()+":"+date.getMinutes();
          else
          {
            div.innerHTML="<span class=\"badge badge-pill badge-success\">lastseen  <span>"+"today at "+date.getHours()+":"+date.getMinutes();
          }
         li.appendChild(div);
         }
         ul.append(li);
       }

       ///////////groups////////////
       for(let i=0;i<data.groups.length;i++)
       {
        var li=document.createElement('li');
        li.setAttribute('class','list-group-item');
        li.setAttribute('style','font-size : large;height:61px');
        var button=document.createElement('button');
        button.innerHTML="💬";
        button.setAttribute('id',data.groups[i].chat);
        button.setAttribute('onclick','startGroupChat(event)');
        button.setAttribute('style','margin-left : 20px;position:absolute;left:30rem;z-index:2;');
        button.setAttribute('class','btn btn-primary btn-s');
        
        li.innerHTML=data.groups[i].groupName;
        li.appendChild(button);
        ul.append(li);
       }
       
    });
    request.open('POST', '/chat/getfriends');
    request.setRequestHeader("Content-Type", "application/json");
    request.send();

      }

      window.onload=getUser();
      window.onload=getFriends();











        var socket = io();
        socket.on('connection',function(msg){
          console.log("connected",msg);
          //console.log(data);
          socket.emit('online',pInfo);
          socket.emit('initialize',data);
        });

        var msgInput=document.getElementById("m");
        document.getElementById("myForm").addEventListener("submit", (e)=>{
          if(group)
          {
            socket.emit('group message', {'msg' : document.getElementById("m").value,'currentChatBox' : currentChatBox,'sender' : user,'friends' :groupInfo.users[0].friend });

            // var node = document.createElement("li");
            // node.setAttribute('class','list-group-item')
            // node.innerHTML = user.userName+" : "+msgInput.value ;
            //   document.getElementById("messages").appendChild(node)
            // window.scrollTo(0, document.body.scrollHeight);

            var request = new XMLHttpRequest();
            request.addEventListener('load', function()
            {
              var msgData=JSON.parse(request.responseText);
              console.log(msgData);
              
              
            });
            request.open('POST', '/group/message');
            request.setRequestHeader("Content-Type", "application/json");
            request.send(JSON.stringify({'msg' :msgInput.value,'chatBoxId' : currentChatBox}));

            msgInput.value="";
          }
          else
          {
          socket.emit('chat message', {'msg' : document.getElementById("m").value,'currentChat' : currentChat,'sender' : user});

          var node = document.createElement("li");
          node.setAttribute('class','list-group-item')
          node.innerHTML = user.userName+" : "+msgInput.value ;
            document.getElementById("messages").appendChild(node)
          block2.scrollTo(0, block2.scrollHeight);

          var request = new XMLHttpRequest();
          request.addEventListener('load', function()
          {
            var msgData=JSON.parse(request.responseText);
            console.log(msgData);
            
            
          });
          request.open('POST', '/chat/message');
          request.setRequestHeader("Content-Type", "application/json");
          request.send(JSON.stringify({'msg' :msgInput.value,'chatBoxId' : currentChatBox}));

          msgInput.value="";
        }
          e.preventDefault();
        });

        socket.on('online', function(id){
          console.log("online "+id);
          document.getElementById(id).parentNode.removeChild(document.getElementById(id).parentNode.childNodes[2]);

          let div=document.createElement('div');
          div.innerHTML="<span class=\"badge badge-pill badge-success\">online<span>";
          document.getElementById(id).parentNode.appendChild(div);
          document.getElementById('headName').innerHTML=document.getElementById(id).parentNode.textContent;
         // console.log(document.getElementById('headName').textContent);
          

         });


        socket.on('chat message', function(data){
          if(data.sender.id===currentChat)
          {
          var node = document.createElement("li");
          node.setAttribute('class','list-group-item')
          node.innerHTML = data.sender.userName+" : "+data.msg ;
          document.getElementById("messages").appendChild(node)
          block2.scrollTo(0, block2.scrollHeight);
          }
          else
          {
            document.getElementById(data.sender.id).innerHTML="💬 🔔";
          }
        });
      
        socket.on('group message', function(data){
          console.log(data.currentChatBox,currentChatBox);
          
          if(data.currentChatBox===currentChatBox)
          {
          var node = document.createElement("li");
          node.setAttribute('class','list-group-item')
          node.innerHTML = data.sender.userName+" : "+data.msg ;
            document.getElementById("messages").appendChild(node)
            block2.scrollTo(0, block2.scrollHeight);
          }
          else
          {
            document.getElementById(data.currentChatBox).innerHTML="💬 🔔";
          }
        });
        socket.on('offline', function(data){
         console.log("offline"+data);
         let date=new Date(Date.now());
          document.getElementById(data).parentNode.childNodes[2].innerHTML="<span class=\"badge badge-pill badge-success\">lastseen  <span>"+"today at "+date.getHours()+":"+date.getMinutes();
            document.getElementById('headName').innerHTML=document.getElementById(data).parentNode.textContent;
          
        });


        socket.on('typing', function(data){
         console.log("typing"+data.user.id);
          document.getElementById(data.user.id).parentNode.childNodes[2].innerHTML="<span class=\"badge badge-pill badge-success\">typing  <span>";
          if(data.user.id==currentChat)
          document.getElementById('headName').innerHTML=document.getElementById(data.user.id).parentNode.textContent;


        });

        socket.on('stopTyping', function(data){
         console.log("stopTyping"+data.user.id);
         document.getElementById(data.user.id).parentNode.childNodes[2].innerHTML="<span class=\"badge badge-pill badge-success\">online <span>";
            if(data.user.id==currentChat)
          document.getElementById('headName').innerHTML=document.getElementById(data.user.id).parentNode.textContent;

        });






        function startGroupChat(event){
          event.target.innerHTML="💬";
          document.getElementById('headName').innerHTML=event.target.parentNode.textContent;
          group=true;
      document.getElementById('myForm').setAttribute('style','visibility : visible');
      document.getElementById('topBar').setAttribute('style','visibility : visible');
          console.log(event.target.id);
          currentChatBox=event.target.id;
          document.getElementById("messages").innerHTML="";


          var request = new XMLHttpRequest();
          request.addEventListener('load', function()
          {
           let chat=JSON.parse(request.responseText);
            console.log(chat);
            groupInfo=chat;
            currentChatBox=chat._id;
            for(let i=0;i<chat.message.length;i++)
            {
              var node = document.createElement("li");
          node.setAttribute('class','list-group-item')
          node.innerHTML =chat.message[i].senderName+" : "+ chat.message[i].msg ;
            document.getElementById("messages").appendChild(node)
            }
            block2.scrollTo(0, block2.scrollHeight);
            
          });
          request.open('POST', '/group/getMessages');
    request.setRequestHeader("Content-Type", "application/json");
    request.send(JSON.stringify({'chatBoxId' : currentChatBox}));
        }

    </script>
  </body>
</html>