<!--
Author: Colorlib
Author URL: https://colorlib.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>MeetGreet</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
	.spanUName{
		color: red;
		font-size: large;
	}
</style>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>SIGN UP</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/signup" method="post">
          <input class="text" type="text" name="firstName" placeholder="First Name" required="">
          <br><br>
					<input class="text" type="text" name="lastName" placeholder="Last Name" required="">
					<br><br>
					<input class="text email" type="text" style="margin : 0px" name="userName" id="userName" placeholder="Username" onblur="checkUsername()" required="">	<span id="unameexist" class="spanUName" style="color:red; visibility: hidden">✖️ username already exists</span>
					<br><br>	<input class="text" type="password" name="password" placeholder="Password" required="">
							<input class="text w3lpass" type="password" name="password1" placeholder="Confirm Password" required="">
							<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" value="SIGNIN" id="signUp">
				</form>
				<p><a href="/login"> Login Now!</a></p>
			</div>
		</div>
		<!-- copyright -->
	
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
</body>
<script>
function checkUsername(event)
{
	var request = new XMLHttpRequest();
          request.addEventListener('load', function()
          {
						var data=JSON.parse(request.responseText);
						if(data)
						{
							document.getElementById('unameexist').setAttribute("style" ,"visibility : visible" );
							document.getElementById("signUp").setAttribute("disabled",true);
						}
						else
						{
							document.getElementById('unameexist').setAttribute("style" ,"visibility :hidden" );
							document.getElementById("signUp").removeAttribute("disabled");
						}
          });
          request.open('POST', '/signup/checkName');
    request.setRequestHeader("Content-Type", "application/json");
    request.send(JSON.stringify({'userName' : document.getElementById('userName').value}));


	//document.getElementById('unameexist').setAttribute("style" ,"visibility : visible" );
	
}
	
	</script>
</html>